
@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-sm-8 offset-sm-2 text-center">
        <div class="jumbotron">
            <h2>Bienvenido a Incentivapp</h2>
            <hr />
            @Html.ActionLink("Acceder","Index","TipoPremios",null, new { @class="btn btn-primary"})
        </div>
    </div>
</div>

